
/*Footer*/
.footer-bottom{
  background-color: $color__jektify;
  color: #282828;
  padding: 40px 0;
  .container-fluid{
    .wrapper{
      .row{
        .col-sm-6{
          span{
            font-family: 'Roboto', sans-serif;
            font-size: 0.8rem;
            font-weight: 500;
            color: #404040;
            @media (min-width: 640px) {
              padding: 0% 25%;
              text-align: center;
            }
            @media (min-width: 768px) {
              padding: 0% 25%;
            }
            a{
              color: #292929;
              font-weight:700;
              text-decoration: none;
              opacity: 1;
              &:hover{
                opacity: 0.7;
              }
            }
          }
        }
        .maintained{
          @media (min-width: 780px) {
            text-align: right;
          }
        }
      }
    }
  }
}
