/.bundle/
/node_modules/
**/*/node_modules
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/gems/
/_gems/
**/*/_gems
/vendor/
/_vendor/
**/*/_vendor/
**/*/_site
/temp/
/.temp/
/.sass-cache/
**/*/.sass-cache
/test/travis/project
/package-lock.json
/Gemfile.lock
**/*/Gemfile.lock
