<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <script type="text/javascript" src="{{ '/assets/jquery.min.js' | relative_url }}"></script>

    {% if site.jektify.enable == true and site.jektify.toggle.enable == true %}
      <script src="{{ '/assets/vendor/jektify/js/jektify.min.js' | prepend: site.baseurl }}" ></script>
    {% endif %}

  </body>

</html>
