/**
 * Reset some basic elements
 */

$color__jektify: #1ed760;

html,body{
    @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
    font-family: 'Roboto', sans-serif;
    font: 100% verdana, arial, tahoma, sans-serif;
    @media (max-width: 640px) {
        font: 75% verdana, arial, tahoma, sans-serif;
    }
    a{
     &:visited,&:focus,&:focus,&:hover{
      outline: none;
      text-decoration: none;
     }
    }

    .no-decoration{
      border-bottom: none !important;
      text-decoration: none !important;
      &:hover{
        border-bottom: none !important;
        text-decoration: none !important;
      }
    }

    /* Custom scrollbar */
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        margin-right: 8px;
        background: #282828;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        -webkit-border-radius: 0px;
        border-radius: 0px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 0px;
        border-radius: 0px;
        background: #fff;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }
    ::-webkit-scrollbar-thumb:window-inactive {
      background: rgba(82, 82, 82, 1);
    }

}
%transition-opacity{
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
}
section{
    height: 100vh;
}
