<!DOCTYPE html>
<html class-"no-js">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div id="doc" class="jumbtron doc">
      <div class="container-fluid">
        <div class="doc__wrap">
          {% for doc in site.posts %}
          <h1 class="text-center doc__title">{{doc.title}}</h1>
            <div class="doc__content">
              {{doc.content}}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    {% include footer.html %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ "/assets/vendor/jektify/js/jektify.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
 </body>

</html>
