/*Header*/

.header{
  background-color: $color__jektify;
  font-family: 'Roboto', sans-serif;
  .brand{
    margin-top: 30px;
    @media screen and (max-width: 768px){
    margin-top: 80px;
    }
  }
  .title{
    font-size: 2.7rem;
    font-weight: 400;
    letter-spacing: 0.3em;
    font-family: inherit;
    padding: 15px 0px;
  }
  .description{
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.7rem;
    font-family: inherit;
    letter-spacing: 0.32rem;
  }
  .link{
    padding: 15px 0px;
    font-family: inherit;
    @media screen and (max-width: 768px){
      text-align: center;
    }
    &__go{
      color: #282828;
      font-weight: 400;
      font-size: 1em;
      border-bottom: 1px solid #282828;
      border-bottom-width: 2px;
      &:hover{
        text-decoration: none;
        border-bottom: 1px solid transparent;
        border-bottom-width: 2px;
        color: #fff;
      }
    }
  }
  .download{
    font-family: inherit;
    &__btn{
      border: none;
      border-radius: 0px;
      width: 150px;
      padding: 5px;
      margin: 8px 0px;
      background-color: #282828;
      color: #fff;
      &:active,&:hover,&:focus{
        box-shadow: none !important;
        opacity: 0.96;
        color: $color__jektify;
        background-color: #282828;
      }
    }
    &__text{
      font-weight: 300;
      font-size: 1.22em;
      letter-spacing: 0.12em;
    }
  }
}
